<h1>Login</h1>
<form action="/Home/Login" method="post">
    <input type="text" name="username" value=""></input>
    <input type="password" name="password" value=""></input>
    <button type="submit">Login</button>
</form>