<h1>Reg</h1>
<form action="/Home/Reg" method="post">
    <input type="text" name="username" value=""></input>
    <input type="password" name="password" value=""></input>
    <button type="submit">Reg</button>
</form>